@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-vinho: #5b0f1e;
  --color-dourado: #c8a24b;
  --color-creme: #f7f3ee;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-creme);
  color: var(--color-vinho);
}

::selection {
  background: var(--color-dourado);
  color: var(--color-vinho);
}
